.section {
  display: grid;
  grid-template-rows: minmax(3rem, 1fr) minmax(20rem, 10fr);
  grid-gap: 1.5rem;
  & .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .container {
    display: grid;
    width: 100%;
    height: 45rem;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    grid-gap: 1rem;
    box-sizing: content-box;
    & > * {
      height: 100%;
      background-color: #e8e8e8;
      padding: 1rem;
      font-weight: 200;
      text-transform: uppercase;
      color: rgb(50, 48, 48);
      letter-spacing: 0.1rem;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-direction: column;
      & scrollbar:hover {
        cursor: pointer;
      }
    }
    & ::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    & ::-webkit-scrollbar-track {
      background: #faf7f7;
    }

    /* Handle */
    & ::-webkit-scrollbar-thumb {
      background: rgb(97, 96, 96);
      &:hover {
        cursor: pointer;
      }
    }

    /* Handle on hover */
    & ::-webkit-scrollbar-thumb:hover {
      background: rgb(28, 27, 27);
      cursor: pointer;
    }
  }
}
